body:has(.mapa-animalitos) {
    display: block;
    align-items: unset;
    justify-content: unset;
}

.mapa-animalitos {
    padding-top: 57px;
    height: 100vh;
    width: 100%; 
}

@media (max-width: 768px) {
    .mapa-animalitos {
        padding-top: 105px;  
    }
}